@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    font-size: 15px;
    outline: none;
    border: 1px solid #121823;
    background-color: white;
    position: relative;
    letter-spacing: 1px;
}

.btn::before {
    content: "Get Started";
    /*button's value/text-content */
    position: absolute;
    top: -8%;
    right: 2%;
    background-color: #3c43ee;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;
    font-weight: bold;
}

.btn:hover::before {
    top: 0;
    right: 0;
}

.card_gradient {
    background: linear-gradient(
        174.42deg,
        rgba(60, 67, 238, 0.0296) 41.41%,
        rgba(80, 85, 218, 0.0814) 93.31%
    );
}
